* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.content {
    background-color: whitesmoke;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.display-top {
    margin: 0 auto;
    background-color: white;
    padding-top: 25px;
    padding-left: 25px;
    box-shadow: 5px 5px grey;
    width: 600px;
    height: 200px;
    border-radius: 20px;
    margin-bottom: 20px;
}

.title {
    font-size: 50px;
    margin: -80px;
    margin-left: 200px;
}


.display-center {
    margin: 0 auto;
    background-color: white;
    padding-top: 10px;
    padding-left: 10px;
    box-shadow: 5px 5px grey;
    width: 600px;
    height: 200px;
    border-radius: 20px;
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
}

li {
    list-style-type: none;
}

.icons {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}

.icon-1 {
    align-self: center;
    width: 50px;
    height: 50px;
}

.icon-2 {
    width: 50px;
    height: 50px;
}

.icon-3 {
    width: 50px;
    height: 50px;
}

.icon-4 {
    width: 50px;
    height: 50px;
}

.icon-5 {
    width: 50px;
    height: 50px;
}

.celcius {
    margin-left: 15px;
    margin-top: -20px;
    margin-bottom: 10px;
}

.time-oclock {
    margin-left: 5px;
}

.pm-am {
    color: grey;
    font-size: smaller;
    margin-left: 15px;
}

.day {
    margin-top: 10px;
    margin-left: 15px;
}

.display-bottom {
    margin: 0 auto;
    background-color: white;
    padding-top: 10px;
    padding-left: 10px;
    box-shadow: 5px 5px grey;
    width: 600px;
    height: 200px;
    border-radius: 20px;
}